# ── Client-side (Firebase SDK) ──────────────────────────────────────────────


NEXT_PUBLIC_FIREBASE_API_KEY=           # paste your apiKey 
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=       # paste your authDomain 
NEXT_PUBLIC_FIREBASE_PROJECT_ID=        # paste your projectId 
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=    # paste your storageBucket 
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID= # paste your messagingSenderId 
NEXT_PUBLIC_FIREBASE_APP_ID=            # paste your appId 
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=    # paste your measurementId 

# ── Server-side (Firebase Admin SDK) ────────────────────────────────────────


FIREBASE_PROJECT_ID=        # paste project_id 
FIREBASE_CLIENT_EMAIL=      # paste client_email 
FIREBASE_PRIVATE_KEY=       # paste private_key 
